{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Victoria Events-Login</title>
    <link rel="stylesheet" href="{% static 'css/signupin.css' %}">
</head>
<body>
    <div class="form-box">
        <form class="form" method="post">
            {% csrf_token %}
            <span class="title">Sign In</span>
            <span class="subtitle">Create a free account with your email.</span>
            <div class="form-container">
            <input type="text" class="input" placeholder="User Name" name="username">
                <input type="password" class="input" placeholder="Password" name="password">
            </div>
                  {% if messages %}
        {% for message in messages %}
            <div>
                <p style="color:red;front-size:10px;">{{ message }}</p>
            </div>
        {% endfor %}
      {% endif %}
            <button>Sign In</button>
        </form>
        <div class="form-section">
        <p>Don't have an account? <a href="/signup">Sign Up</a> </p>
        </div>

    </div>
</body>
</html>